@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Karla", sans-serif;
  scroll-behavior: smooth;
  transition: 1s;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: #252a34;
}
body::-webkit-scrollbar-thumb {
  background-color: #fc5185;
  height: 100px;
  border-radius: 100px;
}

span {
  color: #fc5185;
}

.top-head {
  height: 100px;
  width: 100%;
  background-color: #252a34;
  box-shadow: 0 0 5px #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}
.menu-icon {
  display: none;
}

.nav-bar ul li {
  display: inline-block;
  margin: 0 20px;
  transition: 0.8s ease;
}

.nav-bar ul li:hover {
  transform: translateY(-30%);
}

.nav-bar ul li a {
  color: #f5f5f5;
  font-size: 16px;
  font-weight: bold;
  text-transform: capitalize;
  letter-spacing: 1px;
  transition: 0.8s ease;
}

.nav-bar ul li a:hover {
  color: #fc5185;
}

/* -------------MAIN--------------- */

.main {
  position: relative;
  background-color: #252a34;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -60%);
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.main-content .name {
  margin-top: 60px;
  color: #f5f5f5;
  font-size: 70px;
  letter-spacing: -3px;
}

.main-content .tagline {
  color: #f5f5f5;
  margin-top: 20px;
  font-size: 20px;
  letter-spacing: 1px;
}

.main-content .cv-btn {
  font-size: 28px;
  font-weight: 900;
  padding: 5px 35px;
  border-radius: 50px;
  background-color: #fc5185;
  color: #f5f5f5;
  border-style: none;
  margin-top: 30px;
  cursor: pointer;
  transition: 0.5s ease;
}

.main-content .cv-btn:hover {
  opacity: 80%;
}

.main-content .cv-btn:active {
  transform: scale(90%);
}

.main-content .para {
  color: #f5f5f5;
  font-size: 18px;
  margin-top: 35px;
  letter-spacing: 1px;
}

/* --------skills---------- */

.skills {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills .title {
  font-size: 28px;
  margin-top: 150px;
  text-transform: capitalize;
  color: #252a34;
  letter-spacing: -1px;
}

.skills .boxes {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px 50px;
  width: 100%;
  flex-wrap: wrap;
}

.skills .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 320px;
  width: 250px;
  margin: 0 30px;
  border: 2px solid #252a34;
  box-shadow: 2px 5px 8px #252a34;
  border-radius: 20px;
}

.skills .icon {
  font-size: 120px;
  color: #fc5185;
}

.skills p {
  letter-spacing: 0.5px;
  font-size: 16px;
  margin-top: 50px;
  color: #252a34;
  line-height: 20px;
}

/* ------------slider--------- */

.portfolio {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #252a34;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.portfolio .title {
  font-size: 28px;
  margin-top: 150px;
  text-transform: capitalize;
  color: #f5f5f5;
  letter-spacing: -1px;
}

.slider {
  width: 60%;
  overflow: hidden;
  margin: auto;
  margin-top: 30px;
  border-radius: 10px;
}

.slides {
  display: flex;
}

.slides img {
  width: 100%;
  height: auto;
}

/*-------------about------------- */

.about {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about .title {
  font-size: 28px;
  margin-top: 150px;
  text-transform: capitalize;
  color: #252a34;
  letter-spacing: -1px;
}

.about .callbtn {
  background-color: #252a34;
  width: 900px;
  height: 350px;
  margin: auto;
  margin-top: 30px;
  transform: skew(20deg, 2deg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  position: relative;
}

.about .info {
  position: absolute;
  margin: 100px;
  color: #f5f5f5;
  font-size: 15px;
  width: 280px;
  line-height: 27px;
  letter-spacing: 0.5px;
  transform: skew(-20deg, -2deg);
}

.user-icon {
  position: absolute;
  transform: skew(-20deg, -2deg);
  left: 500px;
}

.user-icon img {
  height: 300px;
}

/* ----------------contact--------------- */

.contact {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #252a34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  margin-top: 100px;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: #f5f5f5;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  border-color: #6cbeec;
  box-shadow: 0 0 5px #6cbeec;
}

.btn {
  background-color: #fc5185;
  color: #f5f5f5;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.btn:active {
  opacity: 90%;
}
